<div id="modal-com-ports" class="w3-modal">
    <div class="w3-modal-content">
  
        <header class="w3-container w3-teal">
            <span onclick="document.getElementById('modal-com-ports').style.display='none'" class="w3-button w3-display-topright">&times;</span>
            <h2>Select COM Port</h2>
        </header>
  
        <div class="w3-container">
            <ul id="lst-ports" class="w3-ul">

            </ul>
        </div>

        <footer class="w3-container w3-teal">
            <p>Modal Footer</p>
        </footer>
  
    </div>
</div>